In [30]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from Config import g_key
import gmaps.datasets

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mahibadhoo,MV,2022-08-09 01:21:58,3.7833,72.9667,81.68,78,100,14.18
1,1,Rocha,UY,2022-08-09 01:21:59,-34.4833,-54.3333,44.91,87,95,3.09
2,2,Punta Arenas,CL,2022-08-09 01:18:20,-53.1500,-70.9167,37.51,81,100,9.22
3,3,Mataura,NZ,2022-08-09 01:21:59,-46.1927,168.8643,44.08,59,6,8.12
4,4,East London,ZA,2022-08-09 01:20:17,-33.0153,27.9116,61.21,80,39,2.91

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# # 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]

# # 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length

# # 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()

# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# # 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)

# # 6. Call the figure to plot the data.
# fig

In [6]:
# # Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()


# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)


heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)


# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Port Hedland,AU,2022-08-09 01:19:53,-20.3167,118.5667,73.45,28,9,6.91
8,8,Arraial Do Cabo,BR,2022-08-09 01:22:00,-22.9661,-42.0278,70.74,86,100,6.80
13,13,Rikitea,PF,2022-08-09 01:22:02,-23.1203,-134.9692,73.38,77,99,19.15
15,15,Martinsville,US,2022-08-09 01:22:03,36.6915,-79.8725,77.18,63,74,4.38
28,28,Kawalu,ID,2022-08-09 01:22:08,-7.3817,108.2082,74.19,79,89,0.87
30,30,Mujiayingzi,CN,2022-08-09 01:22:08,42.1167,118.7833,76.01,38,96,3.56
31,31,Mogadishu,SO,2022-08-09 01:22:09,2.0371,45.3438,75.45,83,100,17.58
33,33,Vaini,TO,2022-08-09 01:22:10,-21.2000,-175.2000,78.96,94,75,10.36
36,36,Bambous Virieux,MU,2022-08-09 01:22:11,-20.3428,57.7575,70.05,78,40,11.50
37,37,Avarua,CK,2022-08-09 01:22:11,-21.2078,-159.7750,77.05,57,20,21.85

In [19]:
preferred_cities_df.count()

City_ID       169
City          169
Country       169
Date          169
Lat           169
Lng           169
Max Temp      169
Humidity      169
Cloudiness    169
Wind Speed    169
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
6      Port Hedland      AU     73.45 -20.3167  118.5667
8   Arraial Do Cabo      BR     70.74 -22.9661  -42.0278
13          Rikitea      PF     73.38 -23.1203 -134.9692
15     Martinsville      US     77.18  36.6915  -79.8725
28           Kawalu      ID     74.19  -7.3817  108.2082
30      Mujiayingzi      CN     76.01  42.1167  118.7833
31        Mogadishu      SO     75.45   2.0371   45.3438
33            Vaini      TO     78.96 -21.2000 -175.2000
36  Bambous Virieux      MU     70.05 -20.3428   57.7575
37           Avarua      CK     77.05 -21.2078 -159.7750

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [33]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json" 
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [26]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Port Hedland,AU,73.45,-20.3167,118.5667,The Esplanade Hotel
8,Arraial Do Cabo,BR,70.74,-22.9661,-42.0278,Pousada Porto Praia
13,Rikitea,PF,73.38,-23.1203,-134.9692,People ThankYou
15,Martinsville,US,77.18,36.6915,-79.8725,Hampton Inn Martinsville
28,Kawalu,ID,74.19,-7.3817,108.2082,West Jontor
30,Mujiayingzi,CN,76.01,42.1167,118.7833,Jinjiang Hotel
31,Mogadishu,SO,75.45,2.0371,45.3438,Hotel Juba
33,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
36,Bambous Virieux,MU,70.05,-20.3428,57.7575,Casa Tia Villa
37,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))